/*Add to cart and Favorites button*/

#addtocart-btn{
    font-size: 20px;
    width: 120px;
}

#favorites-btn{
    font-size: 20px;
    width: 120px;
    border: 1px solid black;
    margin-left: 10px;
}