.searchbar input {
    margin-top: 50px;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 90%;
    background: #f1f1f1;
}

.searchbar button {
    float: right;
    width: 10%;
    margin-top: 50px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.shopping-cart label {
    float: right;
    margin-top: 50px;
    padding-right: 10px;
}

.shopping-cart button {
    float: right;
    margin-top: 50px;
    border: 1px solid grey;
    padding: 10px;
    background: #2196F3;
    color: white;
}